<!-- <div class="">
  <div class="col-md-12 mt-3">
      <div class="card shadow-none">



          <div class="card-body" *ngIf="isHIMS">
              <h2>Dashobard <i class="fas fa-tachometer-alt"></i></h2>
              <div class="row mt-4 pl-5 pr-5" style="justify-content: center;" *ngIf="isLoad">
                  <a class="col-lg-3 col-6" href="#" routerLink="/reception-reception-registration">
                      <div class="small-box bg-info">
                          <div class="inner">
                              <h3>{{dashboardCount.todayRegisterd}}</h3>
                              <h4>Today Registerd</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-user-plus"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/reception-reception-admission">
                      <div class="small-box bg-info">
                          <div class="inner">
                              <h3>{{dashboardCount.todayAdmited}}</h3>
                              <h4>Today Admited</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-id-card"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/reception-reception-admission">
                      <div class="small-box bg-info">
                          <div class="inner">
                              <h3>{{dashboardCount.todayDischarge}}</h3>
                              <h4>Today Discharge</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-check-square"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/reception-reception-registration">
                      <div class="small-box bg-secondary color-palette">
                          <div class="inner">
                              <h3>{{totalRegisterd}}</h3>
                              <h4>Total Registerd</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-th-list"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/reception-reception-admission">
                      <div class="small-box bg-secondary color-palette">
                          <div class="inner">
                              <h3>{{dashboardCount.totalAdmited}}</h3>
                              <h4>Total Admited</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-th-list"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/ipd-bed-bed_status">
                      <div class="small-box bg-secondary color-palette">
                          <div class="inner">
                              <h3>{{dashboardCount.totalBeds}}</h3>
                              <h4>Total Bed</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-bed"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/ipd-bed-bed_status">
                      <div class="small-box bg-success">
                          <div class="inner">
                              <h3>{{dashboardCount.availableBeds}}</h3>
                              <h4>Available Bed</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-bed"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/ipd-bed-bed_status">
                      <div class="small-box bg-danger">
                          <div class="inner">
                              <h3>{{dashboardCount.occupiedBeds}}</h3>
                              <h4>Occupied Bed</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-bed"></i>
                          </div>
                      </div>
                  </a>
                  <a class="col-lg-3 col-6" href="#" routerLink="/report-analysis_report-mis">
                      <div class="small-box bg-primary">
                          <div class="inner">
                              <h3>&nbsp;</h3>
                              <h4>MIS Report</h4>
                          </div>
                          <div class="icon">
                              <i class="fa fa-calculator"></i>
                          </div>
                      </div>
                  </a>
              </div>
          </div>




          <div class="card-body" *ngIf="isIPD">
            <div class="container">
              <div class="row justify-content-center text-center">
                  <div class="col-xl-7 col-lg-8 col-md-11">
                      <h1 class="skipOrphan">🛌 IPD Test Collection 🛌</h1>
                  </div>
              </div>
          </div>
          </div>



          <div class="card-body" *ngIf="isPATHO">
            <div class="container">
              <div class="row justify-content-center text-center">
                  <div class="col-xl-7 col-lg-8 col-md-11">
                      <h1 class="skipOrphan">🔬🧪 Pathology Department 🧪🔬</h1>
                      
                      

                  </div>
              </div>
          </div>
          </div>



          <div class="card-body" *ngIf="isUSER">
            <div class="container">
              <div class="row justify-content-center text-center">
                  <div class="col-xl-7 col-lg-8 col-md-11">
                      <h1 class="skipOrphan"><b>⚙ OHIMS Management ⚙</b></h1>
                      <h4 class="big skipOrphan">User Management Utility.</h4>
                  </div>
              </div>
          </div>
          </div>



      </div>
  </div>
</div> -->