<div class="row justify-content-center mt-4">
    <div style="width: 50%;" class="card card-outline card-danger">
        <div class="card-header text-center">
            <b style="font-size: 18px;"> Sample Device Master </b>
        </div>
        <div class="card-body ">
            <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
                <input type="hidden" name="id" [(ngModel)]="form.id" #id="ngModel">
                <h2 *ngIf="isEdit" style="color: orangered;"><b>Edit Mode</b></h2>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card card-body ">
                            <div class="form-group row">

                                <div class="form-group col-md-6 col-6 col-sm-6">
                                    <label for="name">Sample Device Name</label>
                                    <input required type="text" class="form-control" name="sampleName" [(ngModel)]="form.sampleName" #sampleName="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && sampleName.invalid">
                                        Required Field !
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-6 col-sm-6">
                                    <label for="name">Color</label>
                                    <input required type="text" class="form-control" name="color" [(ngModel)]="form.color" #color="ngModel" />
                                    <div class="text-danger" role="alert" *ngIf="f.submitted && color.invalid">
                                        Required Field !
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <button type="button" class="btn btn-info mt-1" (click)="onNew()">New <i class="fas fa-sync-alt"></i></button>&nbsp;
                    <button class="btn btn-success mt-1" type="submit">Save <i class="fas fa-save"></i></button>&nbsp;
                </div>
            </form>
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <div class="card card-body overflow-auto">
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                
                                        <table id="customTable" *ngIf="showContent" datatable class="table  table-bordered" cellspacing="0" width="100%">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>EDIT</th>

                                                    <th>Sample Device Name</th>
                                                    <th>Color</th>

                                                </tr>
                                            </thead>
                                            <tbody style="color: black;">
                                                <tr *ngFor="let item of table_data">
                                                    <td>
                                                        <span>
                                                            <button *ngIf="isedit_action" id="edit" type="button" (click)="onEdit(item)" class="btn btn-warning"><i class="fas fa-edit"></i></button> &nbsp;
                                                            <button *ngIf="isdelete_action" id="delete" type="button" (click)="onDelete(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </td>

                                                    <td>{{item.sampleName}}</td>
                                                    <td>{{item.color}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
